.info {
  padding: 168px 0 98px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
  }
  &__left {
    width: calc(68% - 70px);
    &-box {
      max-width: 427px;
      padding: 8px 16px;
      box-sizing: border-box;
      border: 1px solid $borderDark;
      border-radius: 8px;
      margin-bottom: 62px;
      p {
        color: $content4;
      }
    }
    h2 {
      color: $content5;
    }
  }
  &__right {
    width: calc(32% - 70px);
    &-number {
      display: flex;
      align-items: center;
      margin-bottom: 36px;
      .number {
        margin-right: 20px;
      }
      p {
        color: $content4;
      }
    }
    &-cancel {
      display: flex;
      align-items: center;
      svg {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        color: $content4;
      }
      p {
        color: $content4;
      }
    }
    .button {
      margin-bottom: 50px;
    }
  }
}
@mixin info-xxlg-xxxlg {
  .info {
    padding: 130px 0 98px 0;
    &__inner {
      max-width: unset;
    }
    &__left {
      width: calc(60% - 70px);
    }
    &__right {
      width: calc(40% - 70px);
    }
  }
}
@mixin info-lg-xlg {
  .info {
    padding: 120px 0 60px 0;
    &__left {
      width: calc(60% - 35px);
    }
  }
}
@mixin info-md-lg {
  .info {
    &__inner {
      flex-direction: column;
    }
    &__left {
      width: 100%;
      margin-bottom: 32px;
      &-box {
        margin-bottom: 24px;
      }
    }
    &__right {
      width: 100%;
      &-number {
        margin-bottom: 24px;
      }
      .button {
        margin-bottom: 24px;
        padding: 12px 0;
      }
    }
  }
}
.review {
  max-width: 1400px;
  margin: 0 auto 96px auto;
  padding-left: 60px;
  box-sizing: border-box;
  &__inner {
    position: relative;
  }
  &__left {
    padding-right: calc(60% + 16px);
    box-sizing: border-box;
    &-image {
      width: 100%;
      position: relative;
      padding-bottom: 78.22%;
      margin-bottom: 32px;
      border-radius: 16px;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
  }
  &__right {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(60% - 16px);
    height: 100%;
    &-imagetop {
      height: calc(35% - 15px);
      width: 100%;
      border-radius: 16px 0 0 16px;
      overflow: hidden;
      margin-bottom: 30px;
      img {
        @include fullImage;
      }
    }
    &-imagebot {
      height: calc(65% - 15px);
      width: 100%;
      border-radius: 16px 0 0 16px;
      overflow: hidden;
      img {
        @include fullImage;
      }
    }
  }
  &__slider {
    width: 100%;
    border-radius: 16px;
    padding: 51.5px 36px 51.5px 32px;
    box-sizing: border-box;
    background: $bg4;
    .slick {
      &-dots {
        z-index: 5;
        width: calc(100% - 128px);
        bottom: 0;
        left: 128px;
        display: flex !important;
        margin: 0 -4px;
        li {
          padding: 0;
          opacity: 0.25;
          margin: 0 4px;
          width: 6px;
          height: 6px;
          &.slick {
            &-active {
              opacity: 1;
            }
          }
          button {
            padding: 0;
            margin: 0;
            width: 6px;
            height: 6px;
            background: $bg2;
            border-radius: 50%;
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-avatar {
      width: 96px;
      height: 96px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      img {
        @include fullImage;
      }
    }
    &-content {
      width: calc(100% - 128px);
      padding-bottom: 22px;
      box-sizing: border-box;
      p {
        color: $content1;
        margin-bottom: 16px;
      }
      .caption {
        color: $content3;
      }
    }
  }
}
@mixin review-xxxlg-xxxxlg {
  .review {
    padding-left: 40px;
  }
}
@mixin review-xxlg-xxxlg {
  .review {
    &__slider {
      padding: 24px 16px;
      .slick {
        &-dots {
          left: 96px;
          width: calc(100% - 96px);
        }
      }
    }
    &__item {
      &-avatar {
        width: 72px;
        height: 72px;
      }
      &-content {
        width: calc(100% - 96px);
      }
    }
  }
}
@mixin review-xlg-xxlg {
  .review {
    padding-left: 32px;
  }
}
@mixin review-lg-xlg {
  .review {
    padding-left: 24px;
    margin-bottom: 70px;
    &__slider {
      padding: 16px;
      .slick {
        &-dots {
          left: 76px;
          width: calc(100% - 76px);
        }
      }
    }
    &__item {
      &-avatar {
        width: 60px;
        height: 60px;
      }
      &-content {
        width: calc(100% - 76px);
      }
    }
    &__left {
      padding-right: calc(60% + 8px);
      &-image {
        margin-bottom: 16px;
      }
    }
    &__right {
      width: calc(60% - 8px);
      &-imagetop {
        height: calc(35% - 8px);
        margin-bottom: 16px;
      }
      &-imagebot {
        height: calc(65% - 8px);
      }
    }
  }
}
@mixin review-md-lg {
  .review {
    &__left {
      padding-right: calc(50% + 8px);
      &-image {
        padding-bottom: 55.22%;
      }
    }
    &__right {
      width: calc(50% - 8px);
    }
  }
}
@mixin review-sm-md {
  .review {
    &__left {
      margin-bottom: 16px;
      padding-right: 0;
      &-image {
        border-radius: 16px 0 0 16px;
      }
    }
    &__slider {
      border-radius: 16px 0 0 16px;
    }
    &__right {
      height: unset;
      position: static;
      width: 100%;
      &-imagetop {
        position: relative;
        padding-bottom: 26.82%;
        width: 100%;
        img {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &-imagebot {
        position: relative;
        padding-bottom: 49.19%;
        width: 100%;
        img {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
.collapse {
  &__inner {
    max-width: 952px;
  }
  &Item {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
    &.active {
      .collapse {
        &Item {
          &__btn {
            svg {
              transform: rotate(-180deg) translateY(50%);
            }
          }
          &__body {
            margin: 32px 0;
            max-height: 1000px;
            opacity: 1;
          }
        }
      }
    }
    &__btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-bottom: 11px;
      box-sizing: border-box;
      border-bottom: 1px solid $borderDark;
      position: relative;
      padding-right: 32px;
      .caption {
        margin-right: 8px;
        color: $content5;
      }
      svg {
        width: 24px;
        height: 24px;
        color: $bg1;
        position: absolute;
        top: calc(50% - 6px);
        right: 0;
        @include transition;
        @include transformY;
      }
    }
    &__body {
      max-height: 0;
      opacity: 0;
      @include transition;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &-item {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        &-image {
          width: 96px;
          height: 96px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 24px;
          border-radius: 16px;
          overflow: hidden;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba($color: $bg2, $alpha: 0.2);
          }
          img {
            @include fullImage;
          }
        }
        &-content {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          h5 {
            color: $content5;
            margin-right: 24px;
            font-weight: 400;
            text-transform: unset;
          }
        }
        &-rating {
          padding: 7px 12px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          background: $bg3;
          border-radius: 8px;
          svg {
            width: 18px;
            height: 18px;
            color: $bg1;
            margin-right: 8px;
          }
          .caption {
            color: $content5;
          }
        }
      }
    }
  }
}
@mixin collapse-xxlg-xxxlg {
  .collapse {
    &Item {
      &__body {
        &-item {
          &-image {
            width: 72px;
            height: 72px;
            margin-right: 16px;
          }
          &-content {
            h5 {
              margin-right: 16px;
            }
          }
        }
      }
    }
    &__inner {
      max-width: unset;
    }
  }
}
@mixin collapse-lg-xlg {
  .collapse {
    &Item {
      &__body {
        &-item {
          &-image {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}
@mixin collapse-xsm-sm {
  .collapse {
    &Item {
      &__btn {
        svg {
          width: 16px;
          height: 16px;
        }
      }
      &__body {
        &-item {
          &-image {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            margin-right: 8px;
          }
          &-content {
            width: calc(100% - 48px);
            h5 {
              margin-right: 8px;
            }
          }
          &-rating {
            padding: 4px 8px;
            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
  }
}
