$bg1: #ffffff;
$bg2: #1a1a33;
$bg3: #333d56;
$bg4: #f0f2f6;
$bg5: #737394;
$bg6: #5482f9;

$primary: #5482f9;
$primaryHover: #2b59d1;
$primaryFocus: #2c4da5;
$primaryDisabled: #c7d2ee;
$content1: #1a1a33;
$content2: #323257;
$content3: #737394;
$content4: #c7d2ee;
$content5: #ffffff;

$borderLight: #b6c4e8;
$borderDark: #5e5e8d;
$borderAction: #5482f9;

$stateError: #ff1d3c;
$stateSucces: #2cc870;

$black: #000;
$white: #fff;

$mainFont: "Jost", sans-serif;
$inter: "Inter", sans-serif;
