@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,300;1,400&display=swap");
body,
.css-1g4yje1 {
  background-color: #f0f2f6;
}
.info-tab {
  background-color: #f0f2f6;
  margin-top: -70px;
  border-radius: 30px;
  padding: 20px;
  align-items: start;
}
* {
  font-family: "Jost", sans-serif;
}
a {
  color: #5482f9;
  text-decoration: none;
}
.agent-header {
  background-color: #333d56;
  padding: 20px 10px;
}
.agent-hero {
  background-color: #1a1a33;
}
.badge {
  background-color: #333d56;
  padding: 5px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  width: max-content;
}
.hero-heading {
  font-size: 84px;
  font-family: "Jost", sans-serif;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 400;
  line-height: 1;
}
.p-3 {
  padding: 15px;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-2 {
  margin-bottom: 10px;
}
.ms-3 {
  margin-left: 15px;
}
.mr-3 {
  margin-right: 15px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-5 {
  margin-bottom: 40px;
}
.ms-2 {
  margin-left: 7px;
}
.me-2 {
  margin-right: 7px;
}
.small-img {
  width: 15px;
  height: 15px;
}
.reset {
  color: #5482f9;
}
input#standard-basic {
  color: #fff;
}
.justify-between {
  justify-content: space-between;
}
.css-1d5mvta-MuiFormLabel-root-MuiInputLabel-root.MuiInputLabel-shrink {
  color: #c7d2ee;
}
.hero-subhead {
  font-size: 45px;
  font-weight: 400;
  color: #fff;
}
.text-second {
  color: #c7d2ee;
}
.pointer {
  cursor: pointer;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
  gap: 5px;
}
.gap-4 {
  gap: 20px;
}
.gap-2 {
  gap: 10px;
}
.align-start {
  align-items: start;
}

.text-uppercase {
  text-transform: uppercase;
}
.label {
  margin-bottom: -5px;
  display: block;
}
.css-15aqjom-MuiFormLabel-root-MuiInputLabel-root.MuiInputLabel-shrink {
  display: none;
}
.css-gcgov3-MuiOutlinedInput-notchedOutline {
  border: none;
}
.css-1ejob2d-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
.css-q8hpuo-MuiFormControl-root {
  min-width: 80px;
  width: fit-content;
}
.pl-3 {
  padding-left: 15px;
}
.slider {
  background-color: #fff;
  border-radius: 25px;
  padding: 10px 20px;
}
.timeline p {
  font-size: 16px;
  font-weight: 400;
}
img.arrow {
  width: 48px;
  height: 48px;
}
.input-timeline {
  border: 1px solid #5e5e8d;
  color: #1a1a33 !important;
  width: 100%;
  border-radius: 5px;
}
.input-timeline input {
  padding: 9px 1px;
}
.w-100 {
  width: 100%;
}
.flex-start {
  justify-content: flex-start;
  outline: none;
}
.btn,
.btn:hover {
  outline: none;
  box-shadow: none;
}
.addbtn {
  border-color: #5482f9;
  color: #5482f9;
  font-weight: 300;
}
.relative {
  position: relative;
}

/* .before-line{
    position: relative;
} */
.before-line::after {
  content: "";
  width: 1.5px;
  height: 100%;
  background-color: gray;
  position: absolute;
  left: 40px;
  top: 30px;
}
.text-gray {
  color: #c7d2ee;
}
.text-white {
  color: #fff;
}
.bg-dark,
.bg-dark:hover {
  background-color: #1a1a33;
}
.bg-gray,
.bg-gray:hover {
  background-color: #f0f2f6;
}
.text-black {
  color: #1a1a33;
}
